.mycalc{
    border: 1 px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(105, 73, 200);
}

.all-btn{
    display: flex;
}

.all-btn-numbers{
    display: flex;
    width: 210px;
    flex-wrap: wrap;
}

.all-btn-signs{
    display: flex;
    flex-direction: column;
}

.all-btn-numbers button{
    background-color: white;
    border: none;
    margin: 10px;
    color: rgb(51, 42, 124);
    font-size: 25px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-btn-signs button{
    background-color: rgb(213, 20, 46);
    border: none;
    margin: 10px;
    color: black;
    font-size: 30px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-btn-signs button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgb(213, 20, 46);
}

.all-btn-numbers button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px white;
}

.btn-extra{
    display: flex;
}

.btn-extra button{
    background-color: rgb(213, 20, 46);
    color: black;
}

.btn-extra button:hover{
    box-shadow: 0px 0px 20px 5px rgb(213, 20, 46);
}

.btn-clear-equals{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.btn-clear-equals button{
    width: 120px;
    font-size: 30px;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
    border: none;
}

#clear{
    color: rgb(105, 73, 200);
    background-color: black;
}

#igual{
    color: rgb(213, 20, 46);
    background-color: black;
}

#clear:hover, 
#igual:hover{
    background-color: white;
    cursor: pointer;
}

input{
    width: 80%;
    margin: 10px 0px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
    border: 1px solid white;
}

input:focus{
    outline: none;
    border: 1px solid grey;

}